.root {
    height: 100vh;
    overflow-y: hidden;
}

.container {
    max-width: 85vw;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    height: 90px;
    position: relative;
    top: 0;
    left: 0;
}

.signupimg {
    width: 42vw;
    position: relative;
    top: -23px;
    left: 0;
}

.background {
    height: 100%;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 35% 100%);
}

.backgroundcolor {
    height: 100%;
    background-image: linear-gradient(to right top, #6c58e6, #6c58e6, #6c58e6, #6c58e6, #6c58e6, #755ce6, #7d60e7, #8464e7, #946de8, #a277ea, #af81eb, #bb8bed);
}

.form-container {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 100vh;
}

body {
    background-color: white;
}